.presentation-block {
    color: var(--color-text);
}

.presentation-block p {
    text-align: justify;
    margin-bottom: 15px;
}

.presentation-block ul {
    padding-left: 20px;
    margin-left: 10px;
}

.separation {
    margin: 50px 0;
    opacity: 0.1;
    border: none;
    border-top: 3px solid var(--color-text);
    border-radius: 5px;
}