body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 30px 2vw 100px 2vw;
}

.subtitle {
    font-weight: 800;
    font-size: 2em;
    color: var(--color-text);
    display: inline-block;
    position: relative;                                 /* Pour le ::after */
    margin: 20px 0 30px 0;
}

/* Soulignement */
.subtitle::after {
    content: "";                                        /* Nécessaire pour un élément pseudo */
    position: absolute;                                 /* Par rapport au .subtitle */

    /* Placé en bas */
    left: 0;
    bottom: 0;

    width: 106%;
    height: 0.1em;

    background-color: var(--color-accent);
    border-radius: 4px;

    z-index: -1;                                        /* Derrière le texte */
}

.separation {
    margin: 50px 0;
    opacity: 0.1;
    border: none;
    border-top: 3px solid var(--color-text);
    border-radius: 5px;
}

.article-block {
    color: var(--color-text);
}

.article-block p {
    text-align: justify;
    margin-bottom: 15px;
}

.article-block ul {
    padding-left: 20px;
    margin-left: 10px;
}