body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 30px 2vw 100px 2vw;
}

.subtitle {
    font-weight: 800;
    font-size: 2em;
    color: var(--color-text);
    display: inline-block;
    position: relative;
    margin: 20px 0 30px 0;
}

.subtitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 106%;
    height: 0.1em;

    background-color: var(--color-accent);
    border-radius: 4px;

    z-index: -1;
}

.article-block {
    color: var(--color-text);
}

.article-block p {
    text-align: justify;
    margin-bottom: 15px;
}

.article-block ul {
    padding-left: 20px;
    margin-left: 10px;
}